@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background: #233d4d;
  color: #a1c181;
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-background: #233d4d;
  --color-text: #a1c181;
  --color-primary: #fe7f2d;
  --color-secondary: #fcca46;
  --color-buttons: #619b8a;

  --breakpoint-desktop: 1601px; /*1600*/
  --breakpoint-laptop: 1441px; /*1440*/
  --breakpoint-tablet: 1101px; /*1100*/
  --breakpoint-mobile: 641px; /*640*/
}
